{% extends 'baseur.html' %}
{% load static %}
{% block content %}


    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 1">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 4">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 5">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 6">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 7">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 8">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{% static 'assets/img/1.jpg' %}" alt="Product Image 9">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Third slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h1 text-center">Auction </h1>
                            <div class="text-center" id="timer">0:00:00</div>

                            <h1 class="h2 text-center">Product Name</h1>

                            <div class="h2 text-center" id="current-bid">Current bid: RS0</div>
                            
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Type:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>ALL Scrap</strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>Discription goes here</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Avaliable Quantity :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>50 / 200 KG</strong></p>
                                </li>
                            </ul>

                            <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>Purity 50% Metal</li>
                                <li>Purity 30% Iron</li>
                                <li>Purity 20% Plastic</li>
                            </ul>
                                                         
    <table>
        <thead>
            <tr>
                <th class="h2 text-success border-bottom pb-3 border-dark text-center">Bidder</th>
                <th class="h2 text-success border-bottom pb-3 border-dark text-center">Amount</th>
            </tr>
        </thead>
        <tbody id="bid-table">
        </tbody>
    </table>
              <label class="text-uppercase " for="bid-input">Enter bid</label><br>
                

                        
                                
                                <div class="row pb-2">
                                    <div class="col d-grid">
                                        <input  class="text-center" type="text" id="bid-input" placeholder="RS000"><br><br>  
                                    </div>
                                    <div class="col d-grid">
                                        <button class="text-center" id="bid-button" onclick="placeBid()">Place Bid</button>
                                    </div>
                                </div>
                        

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    


    <!-- Start Slider Script -->
    <script src="assets/js/slick.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->
<style>
#auction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;

}

#product-image img {
    width: 200px;
    height: 200px;
}

#product-image img:hover {
    transform: scale(1.05);
  }

#bid-input {
    width: 120px;
    
}
#bid-button{
    width: 228px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#bid-button:hover {
    background-color: #555;
    transform: scale(1.05);

  }
table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
</div>
<script type="text/javascript">
 var targetDate = new Date("Jan 10, 2023 00:00:00").getTime();
  

setInterval(function () {
          // Get the current date and time
      var currentDate = new Date().getTime();

      // Calculate the time remaining until the target date and time
      var timeRemaining = targetDate - currentDate;


      // Calculate the number of days, hours, minutes, and seconds remaining
      var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
      var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);


    document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
}, 1000);

function placeBid() {
    var bidInput = document.getElementById("bid-input");
    var bidAmount = parseInt(bidInput.value);

    if (isNaN(bidAmount)) {
        alert("Please enter a valid bid amount.");
        return;
    }

    var currentBid = document.getElementById("current-bid");
    var currentBidAmount = parseInt(currentBid.textContent.split("RS")[1]);

    if (bidAmount <= currentBidAmount) {
        alert("Your bid must be higher than the current bid.");
        return;
    }

    // update current bid
    currentBid.textContent = "Current bid: RS" + bidAmount;

   
// add bid to table
var bidTable = document.getElementById("bid-table");
var newRow = document.createElement("tr");
newRow.innerHTML = "<td>You</td><td>RS" + bidAmount + "</td>";

// sort table rows in descending order
var rows = bidTable.rows;
var insertBeforeRow;

for (var i = 0; i < rows.length; i++) {
    var rowAmount = parseInt(rows[i].cells[1].textContent.split("RS")[1]);
    if (bidAmount > rowAmount) {
        insertBeforeRow = rows[i];
        break;
    }
}

if (insertBeforeRow) {
    bidTable.insertBefore(newRow, insertBeforeRow);
} else {
    bidTable.appendChild(newRow);
}

// clear bid input field
bidInput.value = "";

}

</script>
        
{% endblock %}